html.editor {
    height: initial;
    padding: 0 20px;
}

div#math-preview {
    width: 100%;
    min-height: 140px;
}

html.macro {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: transparent;
}
body.macro {
    overflow: hidden;
}
.macro.loading {
    width: 15px;
    height: 15px;
}
.macro.error.block div.error-container {
    padding-top: 10px;
}
.macro.block.math .ac-content {
    overflow-x: auto;
    width: 100%;
}
.ac-content {
    display:inline-block;
}
div.MathJax_Display {
    margin: 0px;
}
table.latexmath-mathblock {
    padding: 10px;
    font: inherit;
    width: 100%;
}
table.latexmath-mathblock tbody {
    vertical-align: baseline;
}

table.latexmath-mathblock .MathJax_Display,
table.latexmath-mathblock .MJXc-display,
table.latexmath-mathblock .MathJax_PHTML_Display,
table.latexmath-mathblock .MathJax_MathML,
table.latexmath-mathblock .MathJax_SVG_Display,
table.latexmath-mathblock .MathJax_PlainSource_Display {
    display: inline-block!important;
    text-align: inherit!important;
    width: initial;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

td.latexmath-numbering {
    width: 35px;
}

td.latexmath-center {
    text-align: center;
}

td.latexmath-right {
    text-align: right;
}